### Q1)Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:
Salary(Lakhs) : Tax(%)- Below 5 : 0%
- 5 - 10 : 10%
- 10 - 20 : 20%
- Above 20 : 30%             : 30%

In [1]:
HRA=10
DA=5
PF=3

salary=int(input("Enter anual income in ruppes : "))

if salary<0:
    print("Enter valid amount !! ")
    
elif salary<500000:
    tax1=0
    d1= (salary*(HRA/100)) +  (salary*(DA/100)) + (salary*(PF/100)) + (salary*(tax1/100))
    print("Total deduction from anual salary = {0}".format(d1))
    y_salary1 = salary-d1
    m_salary1 = y_salary1/12
    print("Your monthly in hand salary will be = {0} ".format(m_salary1))
    
elif 500000<salary<1000000:
    tax2=10
    d2= (salary*(HRA/100)) +  (salary*(DA/100)) + (salary*(PF/100)) + (salary*(tax2/100))
    print("Total deduction from anual salary = {0}".format(d2))
    y_salary2 = salary-d2
    m_salary2 = y_salary2/12
    print("Your monthly in hand salary will be = {0}".format(m_salary2))

elif 1000000<salary<2000000:
    tax3=20
    d3= (salary*(HRA/100)) +  (salary*(DA/100)) + (salary*(PF/100)) + (salary*(tax3/100))
    print("Total deduction from anual salary = {0}".format(d3))
    y_salary3 = salary-d3
    m_salary3 = y_salary3/12
    print("Your monthly in hand salary will be = {0}".format(m_salary3))

else:
    tax4=30
    d4= (salary*(HRA/100)) +  (salary*(DA/100)) + (salary*(PF/100)) + (salary*(tax4/100))
    print("Total deduction from anual salary = {0}".format(d4))
    y_salary4 = salary-d4
    m_salary4 = y_salary4/12
    print("Your monthly in hand salary will be = {0} ".format(m_salary4))

Enter anual income in ruppes :  700000

Total deduction from anual salary = 196000.0
Your monthly in hand salary will be = 42000.0

### Q2)Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

In [2]:
a=int(input("Enter first angle : "))
b=int(input("Enter second angle : "))
c=int(input("Enter third angle : "))
sum = a+b+c

if sum == 180:
    print("You can form the triangle !")
else:
    print("You can not form the triangle")

Enter first angle :  60
Enter second angle :  60
Enter third angle :  60

You can form the triangle !

### Q3)Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

In [3]:
cp=input("Enter the cost price : ")
sp=input("Enter selling price : ")

if sp>cp:
    print("profit")
else:
    print("Loss")

Enter the cost price :  5999
Enter selling price :  6500

profit

### Q4)Write a menu-driven program -
1) cm to ft
2) km to mile
3) USD to INR
4) exittexit

In [4]:
value =int(input("Enter 1 for converting cm into ft, 2 for converting km into miles and 3 for converting USD into INR : "))

if value==1:
    cm=float(input("Enter centimeter value : "))
    ft=cm*0.032808399
    print("ft={0}".format(ft))
elif value==2:
    km=float(input("Enter kilometers : "))
    miles=km*0.621371
    print("Miles ={0}".format(miles))
elif value==3:
    usd=float(input("Enter USD : "))
    inr=usd*83.56
    print("INR = {0}".format(inr))
else:
    print("Invalid input !")

Enter 1 for converting cm into ft, 2 for converting km into miles and 3 for converting USD into INR :  3
Enter USD :  1

INR = 83.56

### Q5)Display Fibonacci series up to 10 terms.
Note: The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34

In [5]:
n=10
n1=0
n2=1
count=0
print(n1)
print(n2)
for i in range(n):
    temp=n2
    n2=n2+n1
    n1=temp
    count+=1
    print(n2)

0
1
1
2
3
5
8
13
21
34
55
89

### Q6) Find the factorial of a given number.
Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: !) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

In [6]:
n=int(input("Enter the number to find factorial : "))
i=1
fact=1
for i in range(n):
    i=i+1
    fact=fact*i
    
print(fact)

Enter the number to find factorial :  5

120

### Q7)Reverse a given integer number.

In [7]:
n=int(input("Enter number : "))
rev=0

while (n>0):
    a=n % 10
    rev = rev*10+a
    n=n//10
print(rev)

Enter number :  1667

7661

### Q8) Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.

In [8]:
n=int(input("Enter a number : "))
sum=0
i=0
while (i<n):
    i+=1
    sum=sum+i
    if i%5==0:
        sum=sum-i
    elif sum>300:
        sum=sum-i
    
print(sum)

Enter a number :  50

276

### Q9)Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.

In [9]:
n=1
sum=0
count=0

while n!=0:
    n=int(input("No : "))
    sum=sum+n
    count+=1
   
if count == 0:
    print("Input some numbers")
else:
    # Calculate and display the average and sum of the entered numbers
    print("Average = ", (count-n))
    print("sum = ",sum)

No :  3
No :  4
No :  4
No :  4
No :  0

Average =  5
sum =  15

### Q10)Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [10]:
li=[]
for i in range(2000,3200):
      if i%7!=0 and i%5!=0:
             li.append(i)
print(li , sep=',')

[2001, 2003, 2004, 2006, 2007, 2008, 2011, 2012, 2013, 2014, 2017, 2018, 2019, 2021, 2022, 2024, 2026, 2027, 2028, 2029, 2031, 2032, 2033, 2034, 2036, 2038, 2039, 2041, 2042, 2043, 2046, 2047, 2048, 2049, 2052, 2053, 2054, 2056, 2057, 2059, 2061, 2062, 2063, 2064, 2066, 2067, 2068, 2069, 2071, 2073, 2074, 2076, 2077, 2078, 2081, 2082, 2083, 2084, 2087, 2088, 2089, 2091, 2092, 2094, 2096, 2097, 2098, 2099, 2101, 2102, 2103, 2104, 2106, 2108, 2109, 2111, 2112, 2113, 2116, 2117, 2118, 2119, 2122, 2123, 2124, 2126, 2127, 2129, 2131, 2132, 2133, 2134, 2136, 2137, 2138, 2139, 2141, 2143, 2144, 2146, 2147, 2148, 2151, 2152, 2153, 2154, 2157, 2158, 2159, 2161, 2162, 2164, 2166, 2167, 2168, 2169, 2171, 2172, 2173, 2174, 2176, 2178, 2179, 2181, 2182, 2183, 2186, 2187, 2188, 2189, 2192, 2193, 2194, 2196, 2197, 2199, 2201, 2202, 2203, 2204, 2206, 2207, 2208, 2209, 2211, 2213, 2214, 2216, 2217, 2218, 2221, 2222, 2223, 2224, 2227, 2228, 2229, 2231, 2232, 2234, 2236, 2237, 2238, 2239, 2241, 2242, 2243, 2244, 2246, 2248, 2249, 2251, 2252, 2253, 2256, 2257, 2258, 2259, 2262, 2263, 2264, 2266, 2267, 2269, 2271, 2272, 2273, 2274, 2276, 2277, 2278, 2279, 2281, 2283, 2284, 2286, 2287, 2288, 2291, 2292, 2293, 2294, 2297, 2298, 2299, 2301, 2302, 2304, 2306, 2307, 2308, 2309, 2311, 2312, 2313, 2314, 2316, 2318, 2319, 2321, 2322, 2323, 2326, 2327, 2328, 2329, 2332, 2333, 2334, 2336, 2337, 2339, 2341, 2342, 2343, 2344, 2346, 2347, 2348, 2349, 2351, 2353, 2354, 2356, 2357, 2358, 2361, 2362, 2363, 2364, 2367, 2368, 2369, 2371, 2372, 2374, 2376, 2377, 2378, 2379, 2381, 2382, 2383, 2384, 2386, 2388, 2389, 2391, 2392, 2393, 2396, 2397, 2398, 2399, 2402, 2403, 2404, 2406, 2407, 2409, 2411, 2412, 2413, 2414, 2416, 2417, 2418, 2419, 2421, 2423, 2424, 2426, 2427, 2428, 2431, 2432, 2433, 2434, 2437, 2438, 2439, 2441, 2442, 2444, 2446, 2447, 2448, 2449, 2451, 2452, 2453, 2454, 2456, 2458, 2459, 2461, 2462, 2463, 2466, 2467, 2468, 2469, 2472, 2473, 2474, 2476, 2477, 2479, 2481, 2482, 2483, 2484, 2486, 2487, 2488, 2489, 2491, 2493, 2494, 2496, 2497, 2498, 2501, 2502, 2503, 2504, 2507, 2508, 2509, 2511, 2512, 2514, 2516, 2517, 2518, 2519, 2521, 2522, 2523, 2524, 2526, 2528, 2529, 2531, 2532, 2533, 2536, 2537, 2538, 2539, 2542, 2543, 2544, 2546, 2547, 2549, 2551, 2552, 2553, 2554, 2556, 2557, 2558, 2559, 2561, 2563, 2564, 2566, 2567, 2568, 2571, 2572, 2573, 2574, 2577, 2578, 2579, 2581, 2582, 2584, 2586, 2587, 2588, 2589, 2591, 2592, 2593, 2594, 2596, 2598, 2599, 2601, 2602, 2603, 2606, 2607, 2608, 2609, 2612, 2613, 2614, 2616, 2617, 2619, 2621, 2622, 2623, 2624, 2626, 2627, 2628, 2629, 2631, 2633, 2634, 2636, 2637, 2638, 2641, 2642, 2643, 2644, 2647, 2648, 2649, 2651, 2652, 2654, 2656, 2657, 2658, 2659, 2661, 2662, 2663, 2664, 2666, 2668, 2669, 2671, 2672, 2673, 2676, 2677, 2678, 2679, 2682, 2683, 2684, 2686, 2687, 2689, 2691, 2692, 2693, 2694, 2696, 2697, 2698, 2699, 2701, 2703, 2704, 2706, 2707, 2708, 2711, 2712, 2713, 2714, 2717, 2718, 2719, 2721, 2722, 2724, 2726, 2727, 2728, 2729, 2731, 2732, 2733, 2734, 2736, 2738, 2739, 2741, 2742, 2743, 2746, 2747, 2748, 2749, 2752, 2753, 2754, 2756, 2757, 2759, 2761, 2762, 2763, 2764, 2766, 2767, 2768, 2769, 2771, 2773, 2774, 2776, 2777, 2778, 2781, 2782, 2783, 2784, 2787, 2788, 2789, 2791, 2792, 2794, 2796, 2797, 2798, 2799, 2801, 2802, 2803, 2804, 2806, 2808, 2809, 2811, 2812, 2813, 2816, 2817, 2818, 2819, 2822, 2823, 2824, 2826, 2827, 2829, 2831, 2832, 2833, 2834, 2836, 2837, 2838, 2839, 2841, 2843, 2844, 2846, 2847, 2848, 2851, 2852, 2853, 2854, 2857, 2858, 2859, 2861, 2862, 2864, 2866, 2867, 2868, 2869, 2871, 2872, 2873, 2874, 2876, 2878, 2879, 2881, 2882, 2883, 2886, 2887, 2888, 2889, 2892, 2893, 2894, 2896, 2897, 2899, 2901, 2902, 2903, 2904, 2906, 2907, 2908, 2909, 2911, 2913, 2914, 2916, 2917, 2918, 2921, 2922, 2923, 2924, 2927, 2928, 2929, 2931, 2932, 2934, 2936, 2937, 2938, 2939, 2941, 2942, 2943, 2944, 2946, 2948, 2949, 2951, 2952, 2953, 2956, 2957, 2958, 2959, 2962, 2963, 2964, 2966, 2967, 2969, 2971, 2972, 2973, 2974, 2976, 2977, 2978, 2979, 2981, 2983, 2984, 2986, 2987, 2988, 2991, 2992, 2993, 2994, 2997, 2998, 2999, 3001, 3002, 3004, 3006, 3007, 3008, 3009, 3011, 3012, 3013, 3014, 3016, 3018, 3019, 3021, 3022, 3023, 3026, 3027, 3028, 3029, 3032, 3033, 3034, 3036, 3037, 3039, 3041, 3042, 3043, 3044, 3046, 3047, 3048, 3049, 3051, 3053, 3054, 3056, 3057, 3058, 3061, 3062, 3063, 3064, 3067, 3068, 3069, 3071, 3072, 3074, 3076, 3077, 3078, 3079, 3081, 3082, 3083, 3084, 3086, 3088, 3089, 3091, 3092, 3093, 3096, 3097, 3098, 3099, 3102, 3103, 3104, 3106, 3107, 3109, 3111, 3112, 3113, 3114, 3116, 3117, 3118, 3119, 3121, 3123, 3124, 3126, 3127, 3128, 3131, 3132, 3133, 3134, 3137, 3138, 3139, 3141, 3142, 3144, 3146, 3147, 3148, 3149, 3151, 3152, 3153, 3154, 3156, 3158, 3159, 3161, 3162, 3163, 3166, 3167, 3168, 3169, 3172, 3173, 3174, 3176, 3177, 3179, 3181, 3182, 3183, 3184, 3186, 3187, 3188, 3189, 3191, 3193, 3194, 3196, 3197, 3198]

### Q11) Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a space-separated sequence on a single line.

In [2]:
def l2(no):
    for no in str(no):
        if int(no)%2 !=0:
            return False
    return True

li=[]
for no in range(1000,3000):
    if l2(no):
        li.append(str(no))

print(" ".join(li))

2000 2002 2004 2006 2008 2020 2022 2024 2026 2028 2040 2042 2044 2046 2048 2060 2062 2064 2066 2068 2080 2082 2084 2086 2088 2200 2202 2204 2206 2208 2220 2222 2224 2226 2228 2240 2242 2244 2246 2248 2260 2262 2264 2266 2268 2280 2282 2284 2286 2288 2400 2402 2404 2406 2408 2420 2422 2424 2426 2428 2440 2442 2444 2446 2448 2460 2462 2464 2466 2468 2480 2482 2484 2486 2488 2600 2602 2604 2606 2608 2620 2622 2624 2626 2628 2640 2642 2644 2646 2648 2660 2662 2664 2666 2668 2680 2682 2684 2686 2688 2800 2802 2804 2806 2808 2820 2822 2824 2826 2828 2840 2842 2844 2846 2848 2860 2862 2864 2866 2868 2880 2882 2884 2886 2888

### Q12) A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps. 
The trace of robot movement is shown as the following:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
-  The numbers after the direction are steps. 

- `!` means robot stop there.

**Please write a program to compute the distance from current position after a sequence of movement and original point.**

In [4]:
import math

def calculate_distance(movements):
    # Initialize the starting position
    x, y = 0, 0
    
    # Process each movement command
    for movement in movements:
        direction, steps = movement.split()
        steps = int(steps)
        
        if direction == "UP":
            y += steps
        elif direction == "DOWN":
            y -= steps
        elif direction == "LEFT":
            x -= steps
        elif direction == "RIGHT":
            x += steps

    # Calculate the Euclidean distance from the origin
    distance = math.sqrt(x**2 + y**2)
    
    # Print the nearest integer of the distance
    print(round(distance))

# Example input
movements = [
    "UP 5",
    "DOWN 3",
    "LEFT 3",
    "RIGHT 2",
    "!"
]

# Filter out the stop command and calculate the distance
filtered_movements = [move for move in movements if move != "!"]
calculate_distance(filtered_movements)

2

### Q13) Write a program to print whether a given number is a prime number or not

In [11]:
num=int(input("Enter number: "))
if num>1 :
    for i in range(2,(num//2)+1):
        if (num%i)==0:
            print("not prime")
            break
        else:
            print("prime")
        
else:
    print("not prime")

Enter number:  5

prime

### Q14) Print all the Armstrong numbers in a given range.
Range will be provided by the user
Armstrong number is a number that is equal to the sum of cubes of its digits. For example 0, 1, 153, 370, 371 and 407 are the Armstrong numbers.

In [14]:
def is_armstrong(n):
    """Function to check if a number is an Armstrong number."""
    num_str = str(n)
    num_len = len(num_str)
    sum_of_powers = sum(int(digit) ** num_len for digit in num_str)
    return n == sum_of_powers

# Get the range from the user
start_range = int(input("Enter the start of the range: "))
end_range = int(input("Enter the end of the range: "))

# Find and print all Armstrong numbers in the given range
print(f"Armstrong numbers between {start_range} and {end_range} are:")
for num in range(start_range, end_range + 1):
    if is_armstrong(num):
        print(num)

Enter the start of the range:  207
Enter the end of the range:  376

Armstrong numbers between 207 and 376 are:
370
371

### Q15) Calculate the angle between the hour hand and minute hand.

Note: There can be two angles between hands; we need to print a minimum of two. Also, we need to print the floor of the final result angle. For example, if the final angle is 10.61, we need to print 10.

Input:<br>
H = 9 , M = 0<br>
Output:<br>
90<br>
Explanation:<br>
The minimum angle between hour and minute
hand when the time is 9 is 90 degress.

In [20]:
def calculate_angle(H, M):
    # Calculate the angle moved by the hour hand (0.5 degrees per minute)
    hour_angle = (H % 12) * 30 + M * 0.5
    
    # Calculate the angle moved by the minute hand (6 degrees per minute)
    minute_angle = M * 6
    
    # Calculate the difference between the two angles
    angle = abs(hour_angle - minute_angle)
    
    # Find the minimum angle
    min_angle = min(angle, 360 - angle)
    
    # Print the floor of the minimum angle
    print(int(min_angle))

# Example input
H = int(input("Enter the hour (H): "))
M = int(input("Enter the minutes (M): "))

# Calculate and print the angle
calculate_angle(H, M)

Enter the hour (H):  6
Enter the minutes (M):  0

180

### Q16)Given two rectangles, find if the given two rectangles overlap or not. A rectangle is denoted by providing the x and y coordinates of two points: the left top corner and the right bottom corner of the rectangle. Two rectangles sharing a side are considered overlapping. (L1 and R1 are the extreme points of the first rectangle and L2 and R2 are the extreme points of the second rectangle).

Note: It may be assumed that the rectangles are parallel to the coordinate axis.

<img src='https://www.geeksforgeeks.org/wp-content/uploads/rectanglesOverlap.png' width='300' height='200'>

In [23]:
def do_overlap(L1, R1, L2, R2):
    # If one rectangle is to the left of the other
    if L1[0] > R2[0] or L2[0] > R1[0]:
        return False
    
    # If one rectangle is above the other
    if R1[1] > L2[1] or R2[1] > L1[1]:
        return False
    
    return True

# Coordinates of the first rectangle
L1 = (int(input("Enter the x coordinate of the top-left corner of the first rectangle: ")),
      int(input("Enter the y coordinate of the top-left corner of the first rectangle: ")))
R1 = (int(input("Enter the x coordinate of the bottom-right corner of the first rectangle: ")),
      int(input("Enter the y coordinate of the bottom-right corner of the first rectangle: ")))

# Coordinates of the second rectangle
L2 = (int(input("Enter the x coordinate of the top-left corner of the second rectangle: ")),
      int(input("Enter the y coordinate of the top-left corner of the second rectangle: ")))
R2 = (int(input("Enter the x coordinate of the bottom-right corner of the second rectangle: ")),
      int(input("Enter the y coordinate of the bottom-right corner of the second rectangle: ")))

# Check if the rectangles overlap
if do_overlap(L1, R1, L2, R2):
    print("The rectangles overlap.")
else:
    print("The rectangles do not overlap.")

Enter the x coordinate of the top-left corner of the first rectangle:  1
Enter the y coordinate of the top-left corner of the first rectangle:  2
Enter the x coordinate of the bottom-right corner of the first rectangle:  3
Enter the y coordinate of the bottom-right corner of the first rectangle:  4
Enter the x coordinate of the top-left corner of the second rectangle:  5
Enter the y coordinate of the top-left corner of the second rectangle:  6
Enter the x coordinate of the bottom-right corner of the second rectangle:  7
Enter the y coordinate of the bottom-right corner of the second rectangle:  8

The rectangles do not overlap.